.App {
  text-align: center;
  margin-top: -20px;
  padding: 0;
}

.nav-style {
  background: slateblue;
  display: flex;
  align-items: center;
  padding-top: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}

form {
  padding: 10px 50px;
  border: 2px solid black;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
}

input {
  height: 30px;
  font-size: 18px;
  text-align: center;
}

button {
  width: 150px;
  padding: 5px 20px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.project, .task {
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 7px;
  max-width: 700px;
}